-
  let title = Title;
  let year = Year;
  let link = `https://www.imdb.com/title/${imdbID}/videogallery/`;
  let imgSrc = Poster;
  if(Poster === 'N/A') {
    imgSrc = require('../../../assets/img/noposter.jpg')
  }

.card.swiper-slide
  .card__inner
    h2.card__title
      a.card__link(href=link, target='_blank')= title
    .card__img-wrapper
      img.card__img(src=imgSrc, width='300', alt=`The movie titled: ${title}`)
    .card__footer
      .card__year= year
      .card__rating-wrapper
        span.card__rating-star
        span.card__rating= rating
